{% extends 'music/base.html' %}
{% block title %}Album Details{% endblock %}

{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type = "text/css" href="{% static 'music/details_style.css' %}" />


    <h1>{{album.album_title}}</h1>
    <h3>{{album.artist}}</h3>
    {% if error_message %}
        <p><strong>{{error_message}}</strong></p>
    {% endif %}
    <form>
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}

             </label><br>
        {% endfor %}

    </form>
{% endblock %}