{% extends 'music/base.html' %} <!-- to include a template -->

{% block body %}
    {% load staticfiles %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">


            <!--{% for album in all_albums %}-->
    <div class="row">
            <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{{album.album_logo.url}}" alt="Card image">
                <div class="card-block">
                    <h4 class="card-title">{{album.album_title}}</h4>
                    <p class="card-text">{{album.artist}}</p>
                    <p class="card-text"><small class="text-muted">{{album.genre}}</small></p>


                    <a href="{% url 'music:details' album.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
           <!-- {% endfor %}-->
        </div>
<!--
        <div class="col-sm-3">
            <div class="card">
                <img class="card-img-top" src="{% static 'music/guitar.jpeg' %}" alt="Card image">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="{% url 'music:details' 2 %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
-->
    </div>
    </div>
    </div>
</div>



{% endblock %}